body {
    font-size: 1 rem;
    background-color: rgb(246, 246, 246);
}

.carousel-inner {
    width: 100%;
    max-height: 300px;
}

.main-content {
    padding: 10px;
}

.kontakt-button {
    justify-content: center;
}

.main-bilder
{
    justify-content: center;
}

.card-img-top {
    margin-top: 10px;
}