body {
    margin: 0 px;
    font-family: 'Roboto Condensed', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F7F3F5;
}

#mainframe {
    background-color: #E2C2B3;
    width: 40%;
    border-radius: 100px;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

header {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    padding: 0px 50px 0px 50px;
}

.eingabe {
    display: flex;
    justify-content: center;
}

.ausgabe {
    display: flex;
    justify-content: center;
}

.div-button {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}


.div-groesse {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.div-gewicht {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type="number"] {
    text-decoration: none;
    border: none;
    border-radius: 20px;
    padding: 5px 20px 5px 20px;
    -moz-appearance: textfield;
    text-align: center;
    width: 40px;
    
}

input[type="button"] {
    border: none;
    border-radius: 20px;
    padding: 5px 20px 5px 20px;
    background-color: #687477;
    color: #F7F3F5;
    font-size: 1.5rem;
}

input[type="button"]:hover {
    color:#687477;
    background-color: #F7F3F5;
    transition-duration: 1s;
}

.ausgabe-werte {
    margin-top: 20px;
    text-align: center;
}

.ausgabe #bmiwert {
    font-size: 1.5rem;
    color: #414647;
    font-weight: 700;
}

.ausgabe #skala {
    font-size: 2rem;
    font-weight: 700;
}

footer {
    margin-top: 20px;
    text-align: center;
    color: #687477;
    font-size: 0.8rem;

}