body {
    background-color: rgb(42, 60, 75);
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;

    
}

.mainframe {
    position: relative;
    height: 60vh;
    width: 50vw;
    box-shadow: 0px 0px 10px rgb(145, 145, 145);
    display: flex;

}

.frame {
    opacity: 1;
}

.left-frame {
    position: absolute;
    width: 50%;
    height: 100%;

}

.picture {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.picture-index {
    object-position: 80%;
}

.picture-stuff {
    object-position: 20%;
}

.picture-contact {
    object-position: 100%;
}

.right-frame {
    position: absolute;
    background-color: rgb(250, 250, 250);
    width: 50%;
    height: 100%;
    right: 0;

}

.navbarcontainer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: end;
    height: 15%;
}

.navbar {
    display: flex;
    background-color: rgb(236, 236, 236);
    justify-content: end;
    align-items: center;
    margin-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 20px;

}

.navbar a {
    text-decoration: none;
    margin-left: 40px;
    padding-right: 5px;
    cursor: pointer;
    color: rgb(137, 137, 137);
    

}

.navbar a:hover {
    color: rgb(74, 74, 74);
}

.texboxcontainer{
    position: relative;
    height: 85%;
    display: flex;
    
}

.textbox {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    padding-right: 5px;
    padding-left: 5px;
    background-color: rgb(250, 250, 250);
    border: 1px solid black;
}

.textbox .links{
    display: flex;
    flex-direction: column;
    height: 50%;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-right: 20px;
}

.links a {
    text-decoration: none;
    cursor: pointer;
    margin-left: 25px;
    color:black
}

.links a:hover {
    font-weight: bold;
}

.link-instagram {
    display: flex;
    align-items: center;
    background-color: rgba(142, 8, 120, 0.04);
    width: 100%;
    padding-left: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 5px;
    
}

.link-facebook {
    display: flex;
    align-items: center;
    background-color: rgba(18, 162, 224, 0.04);
    width: 100%;
    padding-left: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 5px;
}

.link-steam {
    display: flex;
    align-items: center;
    background-color: rgba(22, 12, 110, 0.04);
    width: 100%;
    padding-left: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 5px;
}