body {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 1.5em;
    color: #ecf0f1;
    display: flex;  
    justify-content: center;
    margin: 0;
    background: linear-gradient(90deg, rgba(84,121,147,0.4) 10%,  rgb(214, 217, 219) 95%);
    
}

a {
    text-decoration: none;
    color: #ecf0f1;
    
}


.mainframe {
    width: 70%;
    margin-top: 40px;
    margin-bottom: 40px;
    border-radius: 40px;
    background-color: #24252A;
    display: flex;
    flex-direction: column;
    position: relative;
    flex-wrap: wrap;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}


/* HEADER SECTION */

header {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 30px 0px 30px 30px;
}

header img {
    border-radius: 40px;
    height: 120px;
    
}


nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    
}

@media only screen and (max-width: 750px) {
    
    .mainframe {
        width: 95%;
    }
    
    header {
        flex-direction: column;
        align-items: center;
    }

    nav {
        flex-direction: column;
        align-items: center;
        
    }

    .nav-buttons {
        flex-direction: column;
        align-items: center;
    }
    
}

.nav-buttons {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #3F454F;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding-right: 30px;
    
    
    
}

.nav-button {
    padding: 20px 20px;
    background-color: #3F454F;
   
}

.nav-button:hover {
    border-radius: 10px;
    transform: translate(0, -5px);
    transition-timing-function: ease-in;
    transition-duration: 0.5s;
    /* border-top-right-radius: 10px; */
    /* border-top-left-radius: 10px; */
    background-color: #547993;

}

/* MAIN SECTION */

main {
    background-color: #ecf0f1;
    color: #3F454F;
    padding: 30px 30px;
    display: flex;
    flex-direction: column;
}

main p {
    margin: 0;
}
h1 {
    color:#3B5998;
}

.img-gallery {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
}

.img-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 10px 0px;
    border-top-left-radius: 40px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    
}
.img-container p {
    background-color: #547993;
    color: #ecf0f1;
    font-size: smaller;
    text-align: right;
    padding: 5px;
    
}

.img-container img {
    filter: grayscale(60%);
    border-top-left-radius: 40px;
    height: auto;
    width: 100%;
    
}

.img-container img:hover {
    filter: grayscale(0%);
    transition-duration: 0.8s;
}

/* CONTACT SECTION */

.contact-forms {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    background-color:#54799383;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    border-radius: 40px;
    
}

.form-box {
    display: flex;
    flex-direction: column;    
}

.form-name {
    font-size: smaller;
    margin-bottom: 5px;
}

.form-message {
    font-size: smaller;
    margin-bottom: 5px;
}

.form-button {
    
    width: 200px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color:#3F454F;
    border-radius: 10px; 
    border: none;
    color: white;
    font-size: medium;
    font-weight: 600;
    box-shadow: 2px 2px 5px 2px rgba(0,0,0,0.52);

}

.form-button:hover {
    background-color:#3B5998;
    transition: 1s;
}

#fname {
    border: none;
    border-radius: 10px;
    height: 30px;
    margin-bottom: 5px;
}

.form-textfeld {
    margin-bottom: 5px;
    text-decoration: none;
    border-radius: 10px;
    border: none;
    resize: none;
}




/* FOOTER SECTION */

footer {
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    background-color: #3F454F;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer p {
    margin: 0;
    color: #5E6166;
    font-size: small;
}

.footer-icons {
    display: flex;
}


.fa-facebook {
    padding: 20px;
}

.fa-facebook:hover {
    background: #3B5998;
    border-radius: 10px;
    transition-duration: 0.5s;
}

.fa-instagram {
    padding: 20px;
}

.fa-instagram:hover {
    background: #FE7700;
    border-radius: 10px;
    transition-duration: 0.5s;
}

.fa-twitter {
    padding: 20px;
    
}

.fa-twitter:hover {
    border-radius: 10px;
    transition-duration: 0.5s;
    background: #55ACEE;
}