body {
    margin: 0;
    font-family: 'Titillium Web', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: whitesmoke;
}

.mainframe {
    margin-top: 50px;
    border-radius: 20px;
    background-color: #dbd3c2;
    width: 50%;
}

button {
    margin-top: 10px;
    background-color: #f6c453;
    border-style: none;
    border-radius: 30px;
    width: 230px;
    height: 35px;
}

button:hover {
    background-color: #ffb300;
}

.header {    
    height: 100px;
    background-color: #1f1f1f;
    padding: 10px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

}

img {
    border-radius: 20px;
}

.produkte {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.produktKarte {
    margin: 30px 0px;
    background-color: whitesmoke;
    padding: 20px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.warenkorb {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    
}

.wkschrift {
    font-size: x-large;
}

.inhaltwk {
    background-color: whitesmoke;
}

.copyright {
    height: 50px;
    border-radius: 10px;
    margin-top: 10px;
    padding: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#1f1f1f;
}