/* Farbschemen: 
        background: #7D8E95
        navbar: #EEE3CB
        content: #D7C0AE
                 #967E76
*/



body {

    display: flex;
    justify-content: center;
    margin: 50px 0px 50px 0px;
    font-family: 'Roboto', sans-serif;
    background: -moz-linear-gradient(left, #7D8E95 0%, #7D8E95 36%, #5E6B70 100%);
    background: -webkit-linear-gradient(left, #7D8E95 0%, #7D8E95 36%, #5E6B70 100%);
    background: linear-gradient(to right, #7D8E95 0%, #7D8E95 36%, #5E6B70 100%);
}

.mainframe {
    display: flex;
    flex-direction: column;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 50px;
    box-shadow: 7px 7px 11px 2px rgba(0,0,0,0.52);

}

/* HEADER-SECTION */

nav {
    display: flex;
    width: 1500px;
    background-color: #967E76;
    border-top-left-radius: 50px;
    justify-content: center;
    
}
    
nav ul {
    display: flex;
    margin-top: 0px;
    margin-bottom: 0px;
}

nav ul li {
    display: flex;
    padding: 3px 20px;
    
}

nav ul li:hover {
    background-color: #D7C0AE;
    
}

nav ul li:active{
    background-color: #D7C0AE;
}

.header-img {
    width: 1500px;
    height: 250px;
}

.linie {
    display: flex;
    height: 3px;
    background-color: whitesmoke;
}
/* MAIN SECTION */

main {
    float: left;
}
.content {
    float: left;
    width: 1500px;
    background-color: rgb(252, 252, 239);
    
}
.content h1 {
    margin-left: 20px;
}

.content p {
    margin-left: 20px;
}

.pic-box {
    margin: 20px;
    
}
.pic-box img {
    margin-right: 20px;
    margin-bottom: 10px;
    border-radius: 50px;
    width: 40%;
    filter: grayscale(60%);
}

.pic-box img:hover{
    filter: grayscale(0%);
    transition: 1s;

}

/* FOOTER SECTION */

footer {
    display: flex;
    width: 1500px;
    height: 50px;
    background-color: #967E76;
    justify-content: center;
    border-bottom-right-radius: 50px;
}
footer p {
    color: #D7C0AE;
}

form {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    background-color: #024e7b31;
    border-radius: 20px;
    width: 400px;
    padding: 10px 20px 10px 20px;
    margin-bottom: 10px;
    box-shadow: 2px 2px 5px 2px rgba(0,0,0,0.52);
}

.form-name {
    font-size: 15px;
    margin-bottom: 5px;
}

.form-message {
    font-size: 15px;
    margin-bottom: 5px;
}

.form-button {
    margin-top: 5px;
    align-self: end;
    width: 200px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #D7C0AE;
    border-radius: 10px; 
    border: none;
    color: white;
    font-size: medium;
    font-weight: 600;
    box-shadow: 2px 2px 5px 2px rgba(0,0,0,0.52);

}

.form-button:hover {
    background-color: #967E76;
    transition: 1s;
}

#fname {
    border: none;
    border-radius: 10px;
    height: 30px;
    margin-bottom: 5px;
}

.form-textfeld {
    margin-bottom: 5px;
    text-decoration: none;
    border-radius: 10px;
    border: none;
    resize: none;
}