body {
    display: flex;
    justify-content: center;
    background-color: rgb(220, 220, 220);
    font-family: 'Montserrat', sans-serif;
}


img {
    width: 100%;
    
    height: auto;
    border-radius: 10px;
    filter:saturate(0.5);
    
}

a {
    text-decoration: none;
    color: rgb(90, 90, 90);
}

img:hover {
    filter:saturate(1);
    transition-duration: 0.5s;
}

#mainframe {
    width: 900px;
    margin-top: 50px;
    border-radius: 10px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
    padding: 10px;
    background-color: rgb(240, 240, 240);
}

.navbar
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: rgb(230, 230, 230);
    border-radius: 10px;
    margin-bottom: 10px;
}

.nav-element {
    background-color: rgb(200, 200, 200);
    padding: 10px 40px; 
    font-size: xx-large;
    border-radius: 10px;
}

.nav-element:hover{
    background-color: rgb(180, 180, 180);
    transition-duration: 0.2s;
}

.nav-element .left {
    margin-right: 5px;
}

.nav-element .right {
    margin-left: 5px;
}

.pic-container {
    display: grid;
    grid-template-columns: 1fr 1fr;  /* fr = fraction (Anteil) */
    grid-template-rows: auto;
    gap: 5px;
    column-gap: 5px;
}

.pic-container2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;  /* fr = fraction (Anteil) */
    grid-template-rows: auto;
    gap: 5px;
    column-gap: 5px;
}

.pic-container3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;  /* fr = fraction (Anteil) */
    grid-template-rows: auto;
    gap: 5px;
    column-gap: 5px;
}








/* GRID 2 */

.pic-item_1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}

.pic-item_12 {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 5;
    grid-row-end: 7;
}




/* GRID 3 */

.pic-item3 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
}

.pic-item4 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 4;
}

.pic-item9 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 6;
}

.pic-item10 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 7;
}