body {
    font-family: 'Roboto Condensed', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #17202a;
}

.bewegung button {
    width: 70px;
    height: 70px;
    font-size: 1.5em;
    font-weight: bold;
    border-radius: 10px;
    border-style: solid;
    border-color: rgb(23, 32, 42, 0.8);
    background-color: #eaf2f8;
}

.bewegung button:hover {
    background-color: #a4cceb;
}

.farbe button {
    border-radius: 100%;
    width: 70px;
    height: 70px;
    border-style: solid;
    border-color: rgb(23, 32, 42, 0.5);
    background-color: #eaf2f8;
}

.farbe button:hover {
    border-style: solid;
    border-width: 3px;
    border-color: rgb(23, 32, 42, 1);
}


#change_color_1 {
    background-color:  #5dade2;
}

#change_color_2 {
    background-color:  #bb8fce;
}

#change_color_3 {
    background-color: #f4d03f;
}

#change_color_4 {
    background-color:  #dc7633;
}


.ops {
    width: 600px;
    height: 70px;
    background-color: #5d6d7e;
    border-radius: 10px;
    padding: 5px 2px 5px 2px;
    margin: 50px 0px 10px 0px;
    display: flex;
    justify-content: space-around;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 600px;
    position: relative;
    background-color: #eaf2f8;
    border-color: black;
    border-radius: 10px;
    padding: 2px;
}

#toanimate {
    width: 150px;
    height: 150px;
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    position: relative;
    background-color: #5d6d7e;
}

.copyright {
    width: 600px;
    height: 50px;
    border-radius: 10px;
    margin-top: 10px;
    padding: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5d6d7e;
    color: #cccccc60;
}