body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: whitesmoke;
}

img {
    width: 300px;
    border-radius: 20px;
    margin-right: 50px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#mainframe {
    width: 60%;

}

/* HEADER SECTION */

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: #1f1f1f; 
    height: 70px;   
}

#skills {
    color: whitesmoke;
    font-weight: 400;
    font-size: 1.5em;
    margin-left: 30px;
}

#social {
    margin-right: 20px;
    padding: 5px 10px;
}

#social a {
    text-decoration: none;
    color: whitesmoke;
    font-size: 1.4em;
}

#social a:hover {
    color: #3B5998;
    transition-duration: 0.5s;
}

.fa-facebook {
    padding: 5px 10px;
}

.fa-instagram {
    padding: 5px 10px;
}

.fa-twitter {
    padding: 0px 10px;
}


/* MAIN SECTION */

main {
    padding: 5px 30px;
    background-color: rgb(219, 224, 231);
}

h1 {
    color: #3B5998;
}

.e {
    display: flex;
    justify-content: start;
    background-color: rgb(226, 226, 226);
    margin: 20px 0px;
    padding: 30px 30px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 8px;
}